# Old business logic
server-TUTORIAL.js
GenFakeCredsAndData.js

# Everything else
*.log
*.pid
*.pid.lock
*.seed
*.sublime-project
*.sublime-workspace
*.tgz
.bit/
.DS_Store
.env
.eslintcache
.favorites.json
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.vscode/
.yarn-integrity
/*.env
bookmarks.json
bower_components
build/
build/Release
config.js
coverage
dist/
jspm_packages/
launch.json
lib-cov
logs
node_modules/
npm-debug.log*
pids
TIMELOCKR.code-workspace
typings/
yarn-debug.log*
yarn-error.log*
